$default-font: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;
$default-font-size: 13px;
$big-font-size: 18px;
$default-line-height: 1.4;
$blocks-button__height: 46px;
$blocks-button__line-height: $big-font-size + 6px;
$icon-button-size: 36px;
$white: #fff;
$dark-gray-100: #8f98a1;
$dark-gray-700: #32373c;
